/* this is a comment */


* {
    font-family: "Roboto", 'Times New Roman', Times, serif; 
}


P {
    color: rgb(0,191,255);
    font-size: 20px;

    padding: 0.5% 5% 0.5% 5%;
    display: block;
}

h1, h2, h3 {
    font-size: 4.5vw;
    color: #0000FF;

    padding-right: 0;
    padding-top: 1%;
    padding-left: 0%;
    padding-bottom: 1%;
    text-decoration: none;
   display: none;
}

label {
    color: var(--color1, hsl(250, 25%, 70%));      
    font-size: 2.5rem;  
    border-width: 5mm;
    border-radius: 1%;
}

details {
    color: color-mix(in lch, plum 20%, yellow);
   
}



h2 {
    color: color(display-p3 1 0.5 0);
    max-width: calc(100% - var(--actions-width, 70px));
    font-size: 3.75em;
    text-decoration: underline;
    display: inline;
    position: sticky;

    

}

.attend {
    color: lightblue; /* this is a fallback */
    color: red;

    font-size: 2cm;
    border-style: dashed;
    display: inline;
    flex-direction: column;
}

.topics {
    font-size: 0.5in;
    margin: auto;
    text-align: center;
    display: inline-block; 
    position: static;
    display: flex;
    flex-direction: column;
}

.diagram {
    font-size: 30pt;
    border-color: red;
    margin: 0 30% 2% 10%;
    display: none;
}

video {
    margin-left: 30%;
    margin-top: 1.5%;
    margin-bottom: 0;
    margin-right: 0;
    display: block;
    min-width: 601px
    
  
}

li {
    list-style-type: none;
    display: inline-block; 
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
}
@media (min-width: 20) and (max-width: 1000) {
img { 
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

   
}
}
body {
    a:hover {
        background-color: blue; 
    }

    a:active {
        background-color: beige;
    }

    
}

footer {
    display: flex;
    flex-direction: column;
}

main {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    grid-template-rows: auto;
}

h2 ~ h3 {

    font-family: Times, 'Platypi';

}

#jk {
    color:rgb(10, 23, 87);
}

input[type="text"] {
    padding: 30px 15px; 
    border-radius: 300%; 
    cursor: pointer;
}

h1,
h2,
h3 {
    text-align: center;
}

div > p {
    background-color: yellow;
  }

  h2 + h3 {
    color: red; 
}

footer summary {
   
    font-weight: bold; 
}

h1:has(+ p) {
    margin-bottom: 0;
  }

  img,
  video {
      
      height: auto; 
  }

